html, body {
		/*background-color: #000;*/
		height: 90%;
		width: 99%;
		/*font-family: Arial;*/
		font-family: 'Roboto Slab', serif;
		color: #FFFFFF;
		/*margin: 0;*/
	}

	li {
		font-family: 'Roboto Slab', serif;
	}

	#logo {

	}

	#header {
		background: -webkit-linear-gradient(#222222, #111111, #000000); 
		background: -o-linear-gradient(#222222, #111111, #000000); 
		background: -moz-linear-gradient(#222222, #111111, #000000); 
		background: linear-gradient(#222222, #111111, #000000); 

		position: fixed;
		top:0px;
		left:0px;
		height: 37px;
		width: 100%;
		padding: 0px;
		margin: 0px;
		z-index: 1;

		border-style:solid;
		border-bottom-width: 1px;
		border-color: #333333;
		border-width: 0px 0px 1px 0px;

		box-shadow: 0px 5px 20px #1f1f1f;
	}

	#formMain {
		margin-left: auto;
		margin-right: auto;
		/*margin-right: 20px;*/
		margin-top: 5px;
		width: 1383px;
	}

	#headerOptions{

		position: relative;
		float: left;
		left: 0;
		margin-left: auto;
		margin-right: 0px;
		margin-top: 0px;
		width: 960px;
		text-align: right;
	}

	.container {
		height: 100%;
		width: 100%;
		/*background:url(img.jpg);*/
		background-attachment: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
		position: fixed;
		z-index: -1;
		margin: 0;
	}

	#containerMain {
		/* orig */
		/*z-index: 1;
		max-width: 1440px;*/

		z-index: 1;
width: 1400px;
margin-left: auto;
margin-right: auto;
	}
	.no-outline{
		outline: 0;
	}
	
	#playerAndInfo {
/** orig */
/*		position: fixed;
		top:40px;
		left:20px;*/

		position: fixed;
		top: 40px;
		/*left: 20px;*/
		margin-left: 20px;
	}

	#playerDiv {
		margin-top: 6px;
	}

	#searchAndList {
		float: right; 
		background-color: none; 
		width: 400px; 
		height: 100%; 
		/*margin: -5px 0px 0px 0px;*/

	}

	#subreddit{
		/* orig */
		/*margin-left: 25px;*/

		margin-left: 25px;
		float: right;
	}

	#list {
		height: 100%; 
		overflow: auto; 
		margin-top: 28px;
	}

	.listItem {
		/*background-color: #3d3d3d;*/
		min-height: 60px;
		margin: 10px 0px;
		border-width: 0px;
		border-style: solid;
		border-color: #1d1d1d;
		/*display: inline-block;*/

		background-color: rgba(0, 0, 0, 0.5);

/*		background: -webkit-radial-gradient(#252525, #2d2d2d, #3d3d3d); 
		background: -o-radial-gradient(#252525, #2d2d2d, #3d3d3d); 
		background: -moz-radial-gradient(#252525, #2d2d2d, #3d3d3d);
		background: radial-gradient(#252525, #2d2d2d, #3d3d3d);*/
	}

	#listItemColor {
		background-color: #000;
		opacity: 0.9;
		min-height: 60px;
	}

	.listItemThumb{
		float: right;
		height: 60px;
		vertical-align: center;
		/*align-self: right;*/
	}

	.listItemTitle{
		/*margin: 0px 5px;*/
		padding: 5px 10px;
	}

	img {
		vertical-align: top;
	}

	a:link, a:visited, a:hover, a:active{
		text-decoration: none;
		color: #FFFFFF;
	}

	#videoTitle{
		font-size: 30pt;
		margin: 10px 0px 5px 0px;
		max-height: 160px;
		overflow: hidden;
	}

	#videoTitleContainer{
		margin: 10px 0px 5px 0px;
	}

	#videoVoteCount, #videoCommentCount, #videoSubreddit, #videoSelfText{
		margin-right: 20px;
	}

	#videoThreadUrl:hover{
	}

	#videoThumb{

	}

	#videoInfo {
		max-width: 900px;
		position: relative;
	}

	#autoplay {
		color: #FFFFFF;
		margin-left: 0px;
	}

	#videoLabel {
		margin-left: 50px;
	}
	.btn-header{
		margin-left: 50px;
	}

	.btn-header:hover {
		text-decoration: underline;
	}

	.btn-default {
		height: 45px;
	}

	.btn:hover {
		text-decoration: underline;
	}

	#menu {
		position: fixed;

	 	margin: 32px 0px 0px 20px;
	 	z-index: 1; 
	}

	#menuOptions {
		position: fixed;

	 	margin: 32px 0px 0px 568px;
	 	z-index: 1; 
	}

	#channels {
		margin-left: 13px;
		left: 0;
		position: absolute;
	}